.Button{
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px 24px;
  border-radius: 9999px;
  color: #fff;
  border: 1px solid transparent;
  transition: all .3s ease;
}
.Button:not(:last-child) {
  margin-bottom: 15px;
}
.Button__primary{
  background: #097ea4;
}
.Button__primary:hover{
  background: #097da4c3;
}
.Button__secondary{
  border-color: #404756;
  background: transparent;
}
.Button__secondary:hover{
  background: #404756;
}
