.Emojis{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.Emoji{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .3s ease;
  min-width: 110px;
  user-select: none;
}
.Emoji:hover{
  background: #f6f7f90d;
}
.Emoji:active{
  background: #097ea4;
}

.Emoji__winner{
  background: #097ea4;
  transform: scale(1.1);
}
.Emoji__winner:hover {
  background: #097ea4; /* Reset the color to its default state */
}