.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #23272f;
  padding: 0 15px;
  color: #f6f7f9;
  height: 100%;
  flex: 80%;
}