.UsersList-container{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 15px 15px 100px 15px;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
}
.UserItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #404756;
  border-radius: 9px;
  min-width: 226px;
  max-width: 226px;
}
@media (max-width: 789px){
  .UsersList-container{
    justify-content: center;
  }
}
.UserName{
  font-size: 16px;
  font-weight: 600;
}
.Album{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}