.Sidebar{
  width: 0px;
  /* flex: 0px; */
  overflow: auto;
  min-width: 0;
  background: #23272f;
  color: #f6f7f9;
  border-right: 0px solid #2b2f36;
  transition: all .3s ease;
}
.Sidebar.active{
  min-width: 200px;
  display: flex;
  border-right: 2px solid #2b2f36;
}

@media (max-width:769px) {
  .Sidebar{
    width: 0;
    height: calc(100% - 80px);
    position: absolute;
    min-width: 0px;
    left: 0;
    top: 0;
  }
  .Sidebar.active{
    width: 100%;
    min-width: 200px;
    z-index: 99;
    border-right: 2px solid #2b2f36;
    border-left: 2px solid #2b2f36;

  }
}
.NavList{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 16px 20px 0 0;
}
.NavItem{
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  color: #FFFFFF;
  width: 100%;
  padding: 13px 20px;
  border-radius: 0px 16px 16px 0px;
  transition: all .3s ease;
}
.NavItem:hover{
  background: #343a46;
}
.NavItem.active{
  color: #149ECA;
  background: rgba(88, 175, 223, 0.1);
}